{% extends "base.html" %}
{% block title %}Utopian Todo App{% endblock %}
{% block content %}
<h1>Ceramic Utopian App</h1>
<script type="text/javascript" src="/static/js/main.js"></script>

<div id="hello-example"></div>
<script type="text/babel">
 class HelloMessage extends React.Component {
     render() {
         return (<div>Hello {this.props.name}</div>);
     }
 }

 ReactDOM.render(
     <HelloMessage name="Taylor" />,
     document.getElementById('hello-example')
 );
</script>
{% endblock %}
